.ant-layout-header{
    background:#88A1FF;
    display: flex;
    color:#fff;
    justify-content: space-between;
}
.ant-layout-sider{
    background:#6886f1;
    height:calc(100vh - 132px);
    color: #fff;
}